<!DOCTYPE html>
<html lang="en">
<head>
    <title>Charts — Vendetta</title>
    <link rel="stylesheet" type="text/css" href="/applications/dashboard/design/style.css?v=2.2.112.3" media="all" />
    <link rel="canonical" href="http://v.numag.net/index.php?p=/compose" />
    <meta property="og:site_name" content="Vendetta" />
    <meta property="og:title" itemprop="name" content="Articles Dashboard" />
    <meta property="og:url" content="http://v.numag.net/index.php?p=/compose" />
    <script src="/js/library/jquery.livequery.js?v=2.2.112.3" type="text/javascript"></script>
    <script src="/js/library/jquery.form.js?v=2.2.112.3" type="text/javascript"></script>
</head>
<body id="articles_compose_index" class="Articles Compose index ">
<div id="Frame">
    <div class="Head" id="Head">
        <div class="Row">
            <strong class="SiteTitle"><a href="/index.php?p=/">Vendetta</a></strong>

            <div class="SiteSearch"><form method="get" action="/index.php">
                <div>

                    <input type="hidden" name="p" value="/search" /><input type="text" id="Form_Search" name="Search" value="" placeholder="Search" accesskey="/" aria-label="Enter your search term." title="Enter your search term." class="InputBox" /><input type="submit" id="Form_Go" name="" value="Go" aria-label="Search" class="Button" />
                </div>
            </form></div>
            <ul class="SiteMenu">
                <!-- <li><a href="/index.php?p=/dashboard/settings" class="">Dashboard</a></li> -->
                <li><a href="/index.php?p=/discussions" class="">Discussions</a></li>
                <li><a href="/index.php?p=/activity" class="">Activity</a></li>
                <!-- <li><a href="/index.php?p=/messages/inbox" class="">Inbox</a></li> -->
                <li><a href="http://v.numag.net/grease" class="sub-menu">Charts</a></li>
                <li><a href="/index.php?p=/articles" class="">Articles</a></li>

                <!-- <li><a href="/index.php?p=/profile" class="">zhaozhou</a></li>
               <li><a href="/index.php?p=/entry/signout&TransientKey=ShFqUrFWAdiKfq1d" rel="nofollow" class="SignOut">Sign Out</a></li>  -->
            </ul>
        </div>
    </div>
    <div id="Body">
        <div class="Row">
            <div class="Column ContentColumn" id="Content"><div id="ArticlesDashboardWrap">
                <h1 class="H">Articles Dashboard</h1>

                <div class="RecentlyPublished">
                    <h2>Recently Published</h2>
                    <ul class="DataList">
                        <li class="Item RecentlyPublishedArticle"><div><a href="http://v.numag.net/index.php?p=/article/2016/my-first-article">My First Article!</a></div><div class="Meta Meta-Article"><span class="MItem ArticleCategory"><a href="http://v.numag.net/index.php?p=/articles/category/uncategorized">Uncategorized</a></span><span class="MItem ArticleDate">19 September 2016 - 12:31 PM</span><span class="MItem ArticleAuthor"><a href="/index.php?p=/profile/articles/1/System">System</a></span></div></li>        </ul>
                </div>

                <div class="RecentComments">
                    <h2>Recent Comments</h2>
                    <ul class="DataList">
                        None.        </ul>
                </div>

                <div class="PendingArticles">
                    <h2>Pending Articles</h2>
                    <ul class="DataList">
                        None.            </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div id="Foot">
        <div class="Row">
            <a href="http://vanillaforums.org" class="PoweredByVanilla" title="Community Software by Vanilla Forums">Forum Software
                Powered by Vanilla</a>

        </div>
    </div>
</div>

</body>
</html>
