<!DOCTYPE html>
<html lang="en">
<head>
    <title>Charts — Vendetta</title>
    <link rel="stylesheet" type="text/css" href="/applications/dashboard/design/style.css?v=2.2.112.3" media="all"/>
    <link rel="stylesheet" type="text/css" href="/resources/design/metricsgraphics.css?v=2.10.1" media="all"/>
    <link rel="canonical" href="http://v.numag.net/index.php?p=/compose"/>
    <meta property="og:site_name" content="Vendetta"/>
    <meta property="og:title" itemprop="name" content="Charts"/>
    <meta property="og:url" content="http://v.numag.net/grease"/>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/js/library/metricsgraphics.min.js?v=2.10.1" type="text/javascript"></script>
</head>
<body id="articles_compose_index" class="Articles Compose index ">
<div id="Frame">
    <div class="Head" id="Head">
        <div class="Row">
            <strong class="SiteTitle"><a href="/index.php?p=/">Vendetta</a></strong>

            <div class="SiteSearch">
                <form method="get" action="/index.php">
                    <div>

                        <input type="hidden" name="p" value="/search"/><input type="text" id="Form_Search" name="Search"
                                                                              value="" placeholder="Search"
                                                                              accesskey="/"
                                                                              aria-label="Enter your search term."
                                                                              title="Enter your search term."
                                                                              class="InputBox"/><input type="submit"
                                                                                                       id="Form_Go"
                                                                                                       name=""
                                                                                                       value="Go"
                                                                                                       aria-label="Search"
                                                                                                       class="Button"/>
                    </div>
                </form>
            </div>
            <ul class="SiteMenu">
                <!-- <li><a href="/index.php?p=/dashboard/settings" class="">Dashboard</a></li> -->
                <li><a href="/index.php?p=/discussions" class="">Discussions</a></li>
                <li><a href="/index.php?p=/activity" class="">Activity</a></li>
                <!-- <li><a href="/index.php?p=/messages/inbox" class="">Inbox</a></li> -->
                <li><a href="http://v.numag.net/grease" class="sub-menu">Charts</a></li>
                <li><a href="/index.php?p=/articles" class="">Articles</a></li>

                <!-- <li><a href="/index.php?p=/profile" class="">zhaozhou</a></li>
               <li><a href="/index.php?p=/entry/signout&TransientKey=ShFqUrFWAdiKfq1d" rel="nofollow" class="SignOut">Sign Out</a></li>  -->
            </ul>
        </div>
    </div>
    <div id="Body">
        <div class="Row">
            <div class="BreadcrumbsWrapper"><span class="Breadcrumbs" itemscope
                                                  itemtype="http://data-vocabulary.org/Breadcrumb"><span
                    class="CrumbLabel CrumbLabel HomeCrumb Last"><a href="http://v.numag.net/index.php?p=/"
                                                                    itemprop="url"><span
                    itemprop="title">Home</span></a></span> </span></div>
            <div class="Column ContentColumn" id="Content">
                <div id="ArticlesDashboardWrap">
                    <div id="scatter-168" class="">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Foot">
        <div class="Row">
            <a href="http://vanillaforums.org" class="PoweredByVanilla" title="Community Software by Vanilla Forums">Forum
                Software
                Powered by Vanilla</a>

        </div>
    </div>
</div>
<script>
    d3.json('grease/168.json', function (data) {
        data=data.map(function(o){
            var time = o['y'].split(':');
            var time = parseInt(time[0])+parseInt(time[1])/60;
            return {'x': o['x'], 'y':time};
        });
        MG.data_graphic({
            title: "24*7",
            data: data,
            chart_type: 'point',
            width: 800,
            height: 640,
            right: 10,
            target: '#scatter-168',
            x_accessor: 'x',
            y_accessor: 'y',
            mouseover: function (d, i) {
                console.log(d, i);
            },
            y_rug: true
        });
    });
</script>
</body>
</html>
